<h1>Yelp</h1>

<h2>Restaurant listings</h2>
<p id="add"><%= link_to "Add a restaurant", new_restaurant_path %></p>

<table>
<div id="container">
<tr>
  <th>Restaurant Name</th>
  <th>Description</th>
</tr>

<% @restaurants.each do |restaurant| %>
<tr>

  <td><%= restaurant.name %></td>
  <td><%= restaurant.description %></td>
  <td id="show"><%= link_to "Show", restaurant_path(restaurant) %>
  <td id="edit"><%= link_to "Edit", edit_restaurant_path(restaurant) %>
</tr>
<%end%>
<table>
</div>
