<p>
<strong>Name:</strong>
<%= @restaurant.name%>
</p>

<p>
<strong>Description:</strong>
<%= @restaurant.description%>
</p>

<p><%= link_to "Add Review", new_restaurant_review_path(@restaurant)%></p>

<table>
  <tr>
    <th>Rating</th>
    <th>comment</th>
  </tr>

  <% @reviews.each do |review| %>
  <tr>
    <td><%= review.rating %></td>
    <td><%= review.comment %></td>
    <td><%= link_to 'Show', restaurant_review_path(@restaurant, review) %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to "Back to restaurant listings", restaurants_path%></p>
